rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    match /users_v1/{documentId} {

      // 自分のユーザー情報のみ読み取り可能
      allow get: if
        isSignedIn() &&
        request.auth.uid == documentId
        ;
    }
  }
}
